:root{
    --secondary: #4c9d8b;
    --accentSecondary: #30907b;
}

.col{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: right;
    width: 150px;
    height: 300px;
    justify-content: center;
    margin-left: 15px;
}
.slideshow{
    display: flex;
    flex-flow: row;
    width: max-content;
    gap: 200px;
    flex-wrap: wrap;
    position: relative;
    padding: 0 80px;
    transition: margin-left 500ms ease;
    .slide-element{
        max-width: 400px;
    }
}
#fact-sheet{
    padding: 15px;

    .arrow-controls{
        position: absolute;
        top: 55%;
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 2rem;
        
        a{
            text-decoration: none;
            color:transparent;
            position: absolute;
            z-index: 99999;

        }
        .arrow-left{
            left:0;
        }
        .arrow-right{
            right: 0;
        }
        .arrow-left:hover:before,
        .arrow-right:hover:before{
            opacity: .4;
            transition: opacity .5s ;
        }

        .arrow-left::before,
        .arrow-right::before{
            content: "";
            background: url(../res/img/left-arrow.svg);
            width: 60px;
            height: 60px;
            display: block;
            transform: scale(.5);
            opacity: .17;
            transition: opacity .2s;
        }
        .arrow-right{
            transform: rotate(180deg);
        }

    }
}

.row{
    display: flex;
    flex-flow: row;
}

h4.figure{
    font-size: 46pt;
    margin: auto 0;
    padding: 0;
    font-weight: 200;
}

#square{
    box-sizing: border-box;
    display: block;
    max-width: 163px;
    max-height: 163px !important;
    display: flex;
    flex-flow: column;
    padding: 14px;
 
    align-items: flex-end;
    transform: scale(.8);
    justify-content: space-around;
    border: 1px solid black;
    flex-wrap: nowrap;
}

p.caption{
    font-size: 11pt;
    margin: auto 0;
    text-align: right;
    padding: 0;
    box-sizing: border-box;
}
.circle-pack-graph{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0;
    margin-top: -45px;
    gap: 33px;
    max-height: 300px;
    transform: scale(0.95);

}

.circle-pack{
    height: 500px;
    width: 500px;
    margin-top: -70px;
    margin-left: -58px;
}

p.small-caption{
    font-size: 9pt !important;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-flow: column;
    height: 100px;
    justify-content: space-between;
    transition:all 250ms ease;
    cursor:pointer;
}
p.small-caption[data-count="0"]{
    display:none;
}

p.small-caption[data-count]:before{
    content: attr(data-count);
    font-size: 24pt;
    margin-bottom: -6px;
    display: block;
}

p.tg-caption{
    background: #0dbf9057 !important;
    color: #14543f !important;
    border: 1px solid var(--accent) !important;
    &:hover{
        border: 3px solid var(--accent) !important;
    }
}

p.web-caption{
    background: #4c9d8b9c !important;
    border: 1px solid #105143 !important;
    color: #105143 !important;
    &:hover{
        border: 3px solid #105143 !important;
    }
}

svg.circle-pack g {
    transform: translate(100px, 100px);
    &.tg-node .circle{
        fill: var(--primary) !important;
        stroke: var(--accent) !important;
    }
    .circle {
        fill: var(--secondary);
        stroke: var(--accentSecondary);
        stroke-width: 3px;
        cursor: pointer;
        opacity: .9;
        transition:all 250ms ease;
        &~text{
            opacity: .4 !important;
            transition: all 250ms ease;
        }
        &:hover, &.highlight{
            fill: #4c9d8c;
            box-shadow: 0 0 6px rgba(0,0,0,.04);
            stroke-width: 4px;
            opacity: 1 !important;
        }
        &:hover~text:first-of-type, &.highlight ~text:first-of-type{
            opacity: 1 !important;
        }
    }
    .circle~text:first-of-type{
        cursor: pointer;
        font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
        opacity: .8;
        font-weight: 500;
        transition: opacity 250ms ease;
        
    }
}
.header-title {
    margin: -12px 0px 0px -47px;
    h5{
        font-family: 'Instrument Sans', Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
}